{% extends 'base.html.twig' %}

{% block title %}Linkify - Links and colors!{% endblock %}

{% block header %}
    {{ include('fragments/_landing_header.html.twig') }}
{% endblock %}

{% block body %}

    <div class="relative mx-auto flex w-full justify-center font-sans flex-grow">

        <div class="w-full px-12 py-10 md:px-64 md:py-40">
            <div class="text-4xl md:text-6xl font-bold prose">Welcome to Linkify</div>
            <div class="text-base md:text-2xl prose">Now with ability to add and show your favourite colors</div>
        </div>

        <div class="absolute bottom-0 right-0 -z-20">
            <div class="triangle"></div>
        </div>

        <div class="absolute bottom-20 right-2 -z-30">
            <div class="pill"></div>
        </div>

    </div>
{% endblock %}
