{% extends 'base.html.twig' %}

{% block body %}
    <h1>Use authy or google authenticator to scan QR code</h1>

    <img src="{{ path('app_qr_code') }}" alt="2fa qr code">
{% endblock %}

{% block title %}

{% endblock %}

