{% extends 'base.html.twig' %}
{% block title %}Log In!{% endblock %}
{% block body %}

    <div class="relative mx-auto flex w-full items-center justify-center font-sans flex-grow bg-blue-dark-900">
        <div class="relative sm:max-w-sm w-full">
            <div class="card bg-pink-dark shadow-lg w-full h-full rounded-3xl absolute transform -rotate-6"></div>
            <div class="card bg-red-400 shadow-lg w-full h-full rounded-3xl absolute transform rotate-6"></div>
            <div class="relative w-full rounded-3xl px-6 py-4 bg-blue-dark-700 shadow-md">
                <label for="" class="block mt-3 text-xl text-slate-custom text-center font-semibold">
                    LOG IN!
                </label>
                <form method="post" class="mt-10">

                    {% if error %}
                        <div class="text-red-900 bg-red-400 p-4 font-bold border-red-800 rounded-sm">
                            {{ error.messageKey|trans(error.messageData,'security') }}
                        </div>
                    {% endif %}

                    <div class="mt-7">
                        <label for="inputEmail" class="text-slate-custom">Email</label>
                        <input
                                value="{{ last_username }}"
                                name="email"
                                type="email"
                                id="inputEmail"
                                placeholder="Enter your email"
                                class="mt-1 block w-full border-none bg-slate-100 h-11 rounded shadow-lg hover:bg-blue-100 focus:bg-blue-100 placeholder:italic focus:ring-0 px-2">
                    </div>

                    <div class="mt-7">
                        <label for="inputPassword" class="text-slate-custom">Password</label>
                        <input type="password"
                               name="password"
                               id="inputPassword"
                               placeholder="Enter your password"
                               class="mt-1 block w-full border-none bg-slate-100 h-11 rounded shadow-lg hover:bg-blue-100 focus:bg-blue-100 placeholder:italic focus:ring-0 px-2">
                    </div>

                    <div class="mt-7">
                        <button type="submit"
                                class="bg-pink-dark w-full py-3 rounded text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105 font-bold">
                            LOG IN
                        </button>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>

    <footer class="flex-shrink-0 flex gap-4 bg-blue-dark-700 p-8 justify-center">
        <div class="text-slate-500">Don't have an account yet?</div>
        <div>
            <a href="{{ path('app_register') }}"
               class="bg-pink-dark w-full p-3 rounded text-white shadow-xl hover:shadow-inner focus:outline-none font-bold">
                Sign up
            </a>
        </div>
    </footer>

{% endblock %}