<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Confirmation email</title>
    <style>
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h1 class="text-center">You are being contacted by webpage linkify</h1>
            <p>
                Confirm your email on {{ emailUrl }}
            </p>
            <p class="block">
                Ignore this email if you didnt sign up for linkify
            </p>
        </div>
    </div>
</div>
</body>
</html>